/* TWITTER OVERRIDES OVERRIDES
================================================ */

.nav-tabs {
  li {
    a {
      @include border-radius(0);
    }
    &.active {
      a,
      a:focus,
      a:hover {
        color: #555;
        background-color: $gray;
        background-image: url(../images/bg.png);
        border-bottom-color: $gray;
        cursor: pointer;
      }
    }
  }
  &.nav-tabs-steps,
  &.nav-tabs-trace {
    margin-bottom: 20px;
    li {
      a {
        padding: 5px 15px;
      }
      &.active {
        a,
        a:focus,
        a:hover {
          color: #555;
          background-color: #fff;
          background-image: none;
          border-bottom-color: #fff;
        }
      }
    }
  }
  &.nav-tabs-trace {
    margin-top: 16px;
  }
}

form {
  .form-control {
    color: #555;
    @include border-radius(0);
  }
  textarea {
    resize: none;
  }
  .form-group {
    position: relative;
    &.unit {
      &:after {
        content: 'KB';
        position: absolute;
        top: 6px;
        right: 6px;
        color: #999;
      }
      .form-control {
        padding-right: 30px;
      }
    }
    .checkboxes {
      .checkbox {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin: 0 0 5px 0;
        + .checkbox {
          margin-top: 0px;
        }
      }
    }
    &.form-group-email {
      input[type=email] {
        padding-left: 60px;
      }
      &:before {
        content: 'mailto:';
        display: inline-block;
        color: #aaa;
        position: absolute;
        bottom: 7px;
        left: 7px;
      }
    }
  }
}

.alert {
  @include border-radius(0);
}

.btn {
  @include border-radius(0);
  &.btn-primary {
    background-color: #075211;
    border-color: darken(#075211, 10%);
  }
}

.input-group {
  &.input-group-lg {
    .form-control {
      @include border-radius(0);
    }
    .btn {
      @include border-radius(0);
    }
  }
}

.panel {
  .panel-heading, .panel-body {
    @include border-radius(0);
  }
}

.table {
  thead {
    tr {
      background-image: url(../images/bg.png);
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  tbody {
    tr {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
    }
  }
  &.table-hover {
    tbody {
      tr {
        &:hover {
          background-image: url(../images/bg.png);
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          td {
            background-color: transparent;
          }
          &.empty {
            background-image: none;
            border-left-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }
  }
}

pre {
  background-color: #f2f2f2;
  @include box-shadow(0 0 6px 3px #eee inset);
}

.center-block {
  text-align: center;
}

legend {
  &.legend-small {
    font-size: 16px;
    margin-bottom: 5px;

    .btn {
      padding: 1px 7px;
      line-height: 20px;
      margin: 3px;
      font-size: 12px;
    }
  }
  &.legend-r {
    text-align: right;
  }
  &.legend-tiny {
    font-size: 14px;
    font-weight: bold;
    border-bottom: none;
    margin: 0 0 5px 0;
    background-color: #eee;
    padding: 2px 5px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal {
  &.modal-prop {
    .modal-dialog {
      width: 800px !important;
      .main-actions {
        text-align: right;
        margin: 10px -15px -15px;
        border-top: 1px solid #ddd;
        padding: 10px;
      }
    }
  }
}

