<div class="property-wrap" ng-class="{active: prop.active}">

    <legend class="legend-tiny toggle" ng-class="{active: prop.active}" ng-click="toggleProperty()">
        {{ name }}
        <div class="checkbox"><label><input type="checkbox" ng-model="prop.required"> required</label></div>
    </legend>

    <div class="row">

        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': (form[name+'-type'].$invalid && form[name].$dirty)}">
                <label for="property-type-{{ view.uniqueId }}" class="control-label">Type</label>
                <select class="form-control" id="property-type-{{ view.uniqueId }}" name="{{ name }}-type" ng-model="prop.type">
                    <option value="">-- choose --</option>
                    <option value="file">file</option>
                    <option value="string">string</option>
                    <option value="integer">integer</option>
                    <option value="array">array</option>
                    <option value="boolean">boolean</option>
                </select>
            </div>
        </div>
        <!-- END Type -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-prefix-{{ view.uniqueId }}" class="control-label">Prefix</label>
                <input type="text" class="form-control" id="property-prefix-{{ view.uniqueId }}" name="{{ name }}-prefix" ng-model="prop.adapter.prefix">
            </div>
        </div>
        <!-- END Prefix -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-separator-{{ view.uniqueId }}" class="control-label">Separator</label>
                <select class="form-control" id="property-separator-{{ view.uniqueId }}" name="{{ name }}-separator" ng-model="prop.adapter.separator">
                    <option value="">-- choose --</option>
                    <option value="empty">empty string</option>
                    <option value="space">space</option>
                    <option value="equal">=</option>
                </select>
            </div>
        </div>
        <!-- END Separator -->

        <div class="col-md-3">
            <div class="form-group">
                <label for="property-transform-{{ view.uniqueId }}" class="control-label">Transform</label>
                <select class="form-control" id="property-transform-{{ view.uniqueId }}" name="{{ name }}-transform" ng-model="prop.adapter.transform" ng-options="transform for transform in transforms">
                    <option value="">-- choose --</option>
                </select>
            </div>
        </div>
        <!-- END Transform -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-order-{{ view.uniqueId }}" class="control-label">Order</label>
                <input type="text" class="form-control" id="property-order-{{ view.uniqueId }}" name="{{ name }}-order" ng-model="prop.adapter.order">
            </div>
        </div>
        <!-- END Order -->

        <div class="col-md-2" ng-if="prop.type === 'string'">
            <div class="form-group">
                <div class="checkbox no-margin">
                    <label><input type="checkbox" ng-model="prop.isEnum"> Enum</label>
                </div>
            </div>
        </div>
        <!-- END Enum -->

    </div>

    <div class="row" ng-if="prop.type === 'file'">
        <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox no-margin">
                    <label><input type="checkbox" ng-model="view.adapter.streamable"> Streamable</label>
                </div>
            </div>
        </div>
        <!-- END Streamable -->
    </div>

    <div class="row" ng-if="prop.type === 'array'">

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-item-min-{{ view.uniqueId }}" class="control-label">Min</label>
                <input type="number" class="form-control" id="property-item-min-{{ view.uniqueId }}" name="{{ name }}-item-min" ng-model="prop.minItems" min="0">
            </div>
        </div>
        <!-- END Min -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-item-max-{{ view.uniqueId }}" class="control-label">Max</label>
                <input type="number" class="form-control" id="property-item-max-{{ view.uniqueId }}" name="{{ name }}-item-max" ng-model="prop.maxItems" min="0">
            </div>
        </div>
        <!-- END Max -->

        <div class="col-md-4">
            <div class="form-group">
                <label for="property-item-type-{{ view.uniqueId }}" class="control-label">Item Type</label>

                <select class="form-control" id="property-item-type-{{ view.uniqueId }}" name="{{ name }}-item-type" ng-model="prop.items.type">
                    <option value="">-- choose --</option>
                    <option value="string">string</option>
                    <option value="number">number</option>
                    <option value="file">file</option>
                </select>
            </div>
        </div>
        <!-- END Item Type -->

        <div class="col-md-4">
            <div class="form-group">
                <label for="property-item-separator-{{ view.uniqueId }}" class="control-label">Item Separator</label>

                <select class="form-control" id="property-item-separator-{{ view.uniqueId }}" name="{{ name }}-item-separator" ng-model="prop.items.separator">
                    <option value="">-- choose --</option>
                    <option value="comma">,</option>
                    <option value="semicolon">;</option>
                    <option value="space">space</option>
                    <option value="repeat">repeat</option>
                </select>
            </div>
        </div>
        <!-- END Item Separator -->
    </div>

    <div class="row" ng-if="prop.isEnum">
        <div class="col-md-12">
            <enum ng-model="prop.enum" type="string" min="1" is-required="true"></enum>
        </div>
    </div>


</div>