<div class="property-wrap" ng-class="{active: active}">

    <legend class="legend-tiny toggle" ng-class="{active: active}" ng-click="toggleProperty()">
        {{ name }}
        <div ng-if="type === 'input'" class="checkbox"><label><input type="checkbox" ng-model="prop.required"> required</label></div>
    </legend>

    <div class="row">

        <div class="col-md-3">
            <div ng-if="type === 'input'" class="form-group" ng-class="{'has-error': (form[name+'-type'].$invalid && form[name].$dirty)}">
                <label for="property-input-type-{{ view.uniqueId }}" class="control-label">Type</label>
                <select class="form-control" id="property-input-type-{{ view.uniqueId }}" name="{{ name }}-type" ng-model="prop.type">
                    <option value="">-- choose --</option>
                    <option value="file">file</option>
                    <option value="string">string</option>
                    <option value="integer">integer</option>
                    <option value="array">array</option>
                    <option value="boolean">boolean</option>
                </select>
            </div>

            <div ng-if="type === 'output'" class="form-group" ng-class="{'has-error': (form[name+'-type'].$invalid && form[name].$dirty)}">
                <label for="property-output-type-{{ view.uniqueId }}" class="control-label">Type</label>
                <select class="form-control" id="property-output-type-{{ view.uniqueId }}" name="{{ name }}-type" ng-model="prop.type">
                    <option value="">-- choose --</option>
                    <option value="file">file</option>
                    <option value="directory">directory</option>
                </select>
            </div>
        </div>
        <!-- END Type -->

        <div class="col-md-3" ng-if="type === 'output' && prop.type === 'file'">
            <div class="form-group">
                <label for="property-glob-{{ view.uniqueId }}" class="control-label">Glob</label>
                <input type="text" class="form-control" id="property-glob-{{ view.uniqueId }}" name="{{ name }}-glob" ng-model="prop.adapter.glob">
            </div>
        </div>
        <!-- END Prefix -->

        <div class="col-md-1" ng-if="type === 'input'">
            <div class="form-group">
                <label for="property-prefix-{{ view.uniqueId }}" class="control-label">Prefix</label>
                <input type="text" class="form-control" id="property-prefix-{{ view.uniqueId }}" name="{{ name }}-prefix" ng-model="prop.adapter.prefix">
            </div>
        </div>
        <!-- END Prefix -->

        <div class="col-md-2" ng-if="type === 'input'">
            <div class="form-group">
                <label for="property-separator-{{ view.uniqueId }}" class="control-label">Separator</label>
                <select class="form-control" id="property-separator-{{ view.uniqueId }}" name="{{ name }}-separator" ng-model="prop.adapter.separator">
                    <option value="">empty string</option>
                    <option value="_">space</option>
                    <option value="=">=</option>
                </select>
            </div>
        </div>
        <!-- END Separator -->

        <div class="col-md-2" ng-if="type === 'input'">
            <div class="form-group">
                <label for="property-transform-{{ view.uniqueId }}" class="control-label">Transform</label>
                <select class="form-control" id="property-transform-{{ view.uniqueId }}" name="{{ name }}-transform" ng-model="prop.adapter.transform" ng-options="transform for transform in transforms">
                    <option value="">-- none --</option>
                </select>
            </div>
        </div>
        <!-- END Transform -->

        <div class="col-md-2" ng-if="type === 'input'">
            <div class="form-group">
                <label for="property-order-{{ view.uniqueId }}" class="control-label">Order</label>
                <input type="number" class="form-control" id="property-order-{{ view.uniqueId }}" name="{{ name }}-order" ng-model="prop.adapter.order">
            </div>
        </div>
        <!-- END Order -->

        <div class="col-md-2" ng-if="prop.type === 'string' && type === 'input'">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="checkbox no-margin">
                    <label><input type="checkbox" ng-model="view.isEnum" ng-change="toggleEnum()"> Enum</label>
                </div>
            </div>
        </div>
        <!-- END Enum -->

        <div class="col-md-2" ng-if="prop.type === 'file'">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="checkbox no-margin">
                    <label><input type="checkbox" ng-model="prop.adapter.streamable"> Streamable</label>
                </div>
            </div>
        </div>
        <!-- END Streamable -->

    </div>

    <div class="row" ng-if="prop.type === 'array'">

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-item-min-{{ view.uniqueId }}" class="control-label">Min</label>
                <input type="number" class="form-control" id="property-item-min-{{ view.uniqueId }}" name="{{ name }}-item-min" ng-model="prop.minItems" min="0">
            </div>
        </div>
        <!-- END Min -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-item-max-{{ view.uniqueId }}" class="control-label">Max</label>
                <input type="number" class="form-control" id="property-item-max-{{ view.uniqueId }}" name="{{ name }}-item-max" ng-model="prop.maxItems" min="0">
            </div>
        </div>
        <!-- END Max -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-item-type-{{ view.uniqueId }}" class="control-label">Item Type</label>

                <select class="form-control" id="property-item-type-{{ view.uniqueId }}" name="{{ name }}-item-type" ng-model="prop.items.type">
                    <option value="">-- choose --</option>
                    <option value="string">string</option>
                    <option value="number">number</option>
                    <option value="file">file</option>
                </select>
            </div>
        </div>
        <!-- END Item Type -->

        <div class="col-md-2">
            <div class="form-group">
                <label for="property-item-separator-{{ view.uniqueId }}" class="control-label">Item Separator</label>

                <select class="form-control" id="property-item-separator-{{ view.uniqueId }}" name="{{ name }}-item-separator" ng-model="prop.adapter.listSeparator">
                    <option value="">-- choose --</option>
                    <option value=",">,</option>
                    <option value=";">;</option>
                    <option value=" ">space</option>
                    <option value="repeat">repeat</option>
                </select>
            </div>
        </div>
        <!-- END Item Separator -->

        <div class="col-md-2" ng-if="prop.items.type === 'file'">
            <div class="form-group">
                <label for="property-item-transform-{{ view.uniqueId }}" class="control-label">Transform</label>
                <select class="form-control" id="property-item-transform-{{ view.uniqueId }}" name="{{ name }}-item-transform" ng-model="prop.adapter.listTransform" ng-options="transform for transform in transforms">
                    <option value="">-- none --</option>
                </select>
            </div>
        </div>
        <!-- END Transform -->

        <div class="col-md-2" ng-if="prop.items.type === 'file'">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="checkbox no-margin">
                    <label><input type="checkbox" ng-model="prop.adapter.streamable"> Streamable</label>
                </div>
            </div>
        </div>
        <!-- END Item Streamable -->

    </div>

    <div class="row" ng-if="view.isEnum">
        <div class="col-md-12">
            <enum ng-model="prop.enum" type="string" min="1" is-required="true"></enum>
        </div>
    </div>


</div>