<legend class="legend-small toggle" ng-class="{active: view.propsExpanded.inputs}" ng-click="toggleProperties('inputs')">
    Properties
    <add-property type="input" platform-features="view.toolForm.requirements.platformFeatures" values-from="view.valuesFrom"></add-property>
</legend>

<property-input
        ng-repeat="(key, property) in view.toolForm.inputs.properties"
        ng-model="property"
        active="view.active.inputs[key]"
        name="{{ key }}"
        form="forms.toolForm"
        required-inputs="view.toolForm.inputs.required"
        transforms="view.toolForm.requirements.platformFeatures">
</property-input>