<legend class="legend-small toggle" ng-class="{active: view.propsExpanded.inputs}" ng-click="toggleProperties('inputs')">
    Properties
    <a href ng-click="addItem('input', $event)" class="btn btn-default">
        <i class="glyphicon glyphicon-plus"></i>
    </a>
</legend>

<property-input
        ng-repeat="(key, property) in view.toolForm.inputs.properties"
        ng-model="property"
        active="view.active.inputs[key]"
        name="{{ key }}"
        form="forms.toolForm"
        required-inputs="view.toolForm.inputs.required"
        transforms="view.toolForm.requirements.platformFeatures">
</property-input>