<legend class="legend-small toggle" ng-class="{active: view.propsExpanded.outputs}" ng-click="toggleProperties('outputs')">
    Properties
    <add-property type="output" platform-features="view.toolForm.requirements.platformFeatures" values-from="view.valuesFrom"></add-property>
</legend>

<property-output
        ng-repeat="(key, property) in view.toolForm.outputs.properties"
        ng-model="property"
        active="view.active.outputs[key]"
        name="{{ key }}"
        form="forms.toolForm"
        required-inputs="view.toolForm.outputs.required">
</property-output>