<form ng-submit="jobFormSubmit()" name="forms.jobForm" role="form" novalidate>

    <div class="tabs" ng-switch="view.tab">

        <div class="input-container">
            <input-field
                    ng-repeat="(key, property) in view.toolForm.inputs.properties"
                    ng-model="view.jobForm.inputs[key]"
                    key="{{ key }}"
                    prop="property"
                    form="forms.jobForm">
            </input-field>
        </div>

    </div>

    <div class="form-group main-actions">
        <a class="btn btn-primary pull-left" ng-click="setStep('define-tool')"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    </div>

</form>