<form ng-submit="toolFormSubmit()" name="forms.toolForm" role="form" novalidate>

    <div class="row">
        <div class="col-md-5">

            <legend>General</legend>

            <div class="form-group" ng-class="{'has-error': (forms.toolForm.documentAuthor.$invalid && forms.toolForm.$dirty)}">
                <label for="documentAuthor" class="control-label">Document Author</label>
                <input type="text" class="form-control" id="documentAuthor" name="documentAuthor" ng-model="view.toolForm.documentAuthor" required>
            </div>

            <div class="form-group" ng-class="{'has-error': (forms.toolForm.softwareDescription.$invalid && forms.toolForm.$dirty)}">
                <label for="softwareDescription" class="control-label">Software Description</label>
                <textarea class="form-control" id="softwareDescription" name="softwareDescription" ng-model="view.toolForm.softwareDescription" required></textarea>
            </div>

            <!-- END General -->

            <legend>Requirements</legend>

            <legend class="legend-small">Environment</legend>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RECtype.$invalid && forms.toolForm.$dirty)}">
                        <label for="type" class="control-label">Type</label>
                        <select class="form-control" id="type" name="RECtype" ng-model="view.toolForm.requirements.environment.container.type">
                            <option value="docker">docker</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RECuri.$invalid && forms.toolForm.$dirty)}">
                        <label for="uri" class="control-label">URI</label>
                        <input type="text" class="form-control" id="uri" name="RECuri" ng-model="view.toolForm.requirements.environment.container.uri" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RECimageId.$invalid && forms.toolForm.$dirty)}">
                        <label for="uri" class="control-label">Image Id</label>
                        <input type="text" class="form-control" id="imageId" name="RECimageId" ng-model="view.toolForm.requirements.environment.container.imageId" required>
                    </div>
                </div>
            </div>

            <!-- END Requirements -> Environment -->

            <legend class="legend-small">Resources</legend>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RRcpu.$invalid && forms.toolForm.$dirty)}">
                        <label for="cpu" class="control-label">CPU</label>
                        <input type="number" class="form-control" id="cpu" name="RRcpu" ng-model="view.toolForm.requirements.resources.cpu" min="0" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RRmem.$invalid && forms.toolForm.$dirty)}">
                        <label for="mem" class="control-label">Memory</label>
                        <input type="number" class="form-control" id="mem" name="RRmem" ng-model="view.toolForm.requirements.resources.mem" min="0" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RRports.$invalid && forms.toolForm.$dirty)}">
                        <label for="ports" class="control-label">Ports</label>
                        <input type="number" class="form-control" id="ports" name="RRports" ng-model="view.toolForm.requirements.resources.ports" min="0" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-class="{'has-error': (forms.toolForm.RRdiskSpace.$invalid && forms.toolForm.$dirty)}">
                        <label for="diskSpace" class="control-label">Disk Space</label>
                        <input type="number" class="form-control" id="diskSpace" name="RRdiskSpace" ng-model="view.toolForm.requirements.resources.diskSpace" min="0" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="network" class="control-label">Network</label>
                        <select class="form-control" id="network" name="network" ng-model="view.toolForm.requirements.resources.network">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': (forms.toolForm.RplatformFeatures.$invalid && forms.toolForm.$dirty)}">
                <label class="control-label">Platform Features</label>

                <div class="checkbox">
                    <label><input type="checkbox" name="platformFeaturesTS" ng-model="view.toolForm.requirements.platformFeatures['transforms/strip_ext']" ng-change="toggleTransformsList('transforms/strip_ext')"> transforms/strip_ext</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="platformFeaturesTM" ng-model="view.toolForm.requirements.platformFeatures['transforms/m-nesto']" ng-change="toggleTransformsList('transforms/m-nesto')"> transforms/m-nesto</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="platformFeaturesFD" ng-model="view.toolForm.requirements.platformFeatures['feature/directories']" ng-change="toggleTransformsList('feature/directories')"> feature/directories</label>
                </div>

            </div>

            <!-- END Requirements -> Resources -->

        </div>
        <!-- END General -->

        <div class="col-md-7">

            <ul class="nav nav-tabs nav-tabs-steps">
                <li ng-class="{active: view.tab === 'inputs'}"><a href ng-click="switchTab('inputs')">Inputs</a></li>
                <li ng-class="{active: view.tab === 'outputs'}"><a href ng-click="switchTab('outputs')">Outputs</a></li>
            </ul>

            <div class="tabs" ng-switch="view.tab">
                <div class="tab" ng-switch-when="inputs">
                    <legend class="legend-small toggle" ng-class="{active: view.propsExpanded.inputs}" ng-click="toggleProperties('inputs')">Properties</legend>
                    <property ng-repeat="(key, property) in view.toolForm.inputs.properties" ng-model="property" type="input" name="{{ key }}" form="forms.toolForm" required-inputs="view.toolForm.inputs.required" transforms="view.transforms"></property>
                </div>
                <div class="tab" ng-switch-when="outputs">
                    <legend class="legend-small toggle" ng-class="{active: view.propsExpanded.outputs}" ng-click="toggleProperties('outputs')">Properties</legend>
                    <property ng-repeat="(key, property) in view.toolForm.outputs.properties" ng-model="property" type="output" name="{{ key }}" form="forms.toolForm" required-inputs="view.toolForm.outputs.required"></property>
                </div>
            </div>


        </div>
        <!-- END Inputs -->

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Next <i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>

</form>