<div class="page home">

    <div class="heading">
        <div class="container">
            <ul class="steps">
                <li ng-class="{active: view.step === 'define-tool'}"><span>Define Tool</span></li>
                <li ng-class="{active: view.step === 'define-job'}"><span>Define Job</span></li>
                <li ng-class="{active: view.step === 'generate-command'}"><span>Generate Command</span></li>
            </ul>
        </div>
    </div>
    <!-- # .heading -->

    <div class="container">

        <ng-include src="view.stepViewPath"></ng-include>

    </div>
    <!-- # .container -->
</div>