<div ng-class="$parent.view.classes" loading="view.loading">

    <div class="heading">
        <div class="container">
            <h1 class="main-title">Login</h1>
        </div>
    </div>
    <!-- # .heading -->

    <div class="container">

        <div class="row">
            <div class="col-md-offset-4 col-md-4">

                <p ng-if="view.error" class="alert alert-danger">{{ view.error }}</p>

                <form ng-submit="logIn()" name="form" role="form" novalidate>
                    <div class="form-group" ng-class="{'has-error': (form.email.$invalid && form.$dirty)}">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="view.user.email" placeholder="Email" required>
                        <p class="help-block" ng-if="(form.email.$invalid && form.$dirty)">You must enter correct email address</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (form.password.$invalid && form.$dirty)}">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="view.user.password" placeholder="Password" required>
                        <p class="help-block" ng-if="(form.password.$invalid && form.$dirty)">You must enter correct password</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                </form>


            </div>
        </div>

    </div>
    <!-- # .container -->
</div>